mixin card(image='', title='', descr='', clsImg='', link='#')
    article.card 
        .card__img(class=clsImg)
            img(src=image, alt="features")
        h3.card__title=title
        .card__descr 
            p=descr
        a.card__btn.arrow(href=link) Learn more